<!-- <div class="ticket">
    <div class="ticket-content-wrapper">
<mat-card class="example-card">
    <mat-card-title>{{idTicket}}</mat-card-title> 
    <mat-card-title>{{titre}}</mat-card-title>
    <mat-card-subtitle>{{lieu}}</mat-card-subtitle>
    <mat-card-content>
      <p>{{dateHeureCreation}}</p>
      <p>{{idDetailM}}</p>
      <p>{{description}}</p>
    </mat-card-content>
   
 
 
 </mat-card>
 </div>
  </div> -->

  <div class="courses-container">
	<div class="course">
		<div class="course-preview">
			<h6>id:{{idTicket}}</h6><br>	<br>	
		<h1>{{type}}</h1>
        
        <br><br><br><br>
       
			<h4><i class="bi bi-clock"></i>  &nbsp;de cloture &nbsp;: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;{{dateHeureCloture}}</h4>
		</div>
		<div class="course-info">
			<div class="progress-container">
				<div class="progress"></div>
				<span class="progress-text">
					{{statue}}
				</span>
			</div><br>
			
			<h2>{{titre}}</h2>
      <div *ngFor="let item of detailsList$|async"  >
        <div *ngIf="item.idDetailM==idDetailM">
            <h4 > <i class="bi bi-pc-display-horizontal"></i> &nbsp; &nbsp;{{item.nomDetailM}}</h4>
    </div>  
         </div>
            <h4>{{description}}</h4>
            <h4><strong>Priorité:</strong>&nbsp;{{priorite}}</h4>
            <div *ngFor="let item of demandeurList$|async"  >
              <div *ngIf="item.idDemandeur==IdDemandeur">
                  <h4 ><strong>Demandeur:</strong> {{item.nomDemandeur}} {{item.prenomDemandeur}}</h4>
          </div>  
               </div>
            <h4><strong>Note de résolution :</strong> &nbsp;{{noteResolution}}</h4>
            <h4><strong>id Demandeur:</strong>&nbsp;{{IdDemandeur}}</h4>
             <h4><i class="bi bi-geo-alt-fill"></i>{{lieu}}&nbsp;&nbsp;&nbsp;&nbsp;<i class="bi bi-clock-fill"></i>de création: {{dateHeureCreation}}</h4>
             
           


		</div>
	</div>
</div>
