<br>
<table>
  <tr>
    <!-- <td>
<button mat-raised-button class="p-3 mb-2 bg-danger text-white"
matBadge={{cptC}} matBadgePosition="after" matBadgeColor="warn" (click)="goToTicketEnCours()">
Tickets en cours 
</button></td> -->

<td>
  
    <button class="none" (click)="goToTicketEnCours()">
  <div class="info-box" id="EC">
    <div class="box-icon">
        <svg  id="Ec" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hourglass-split" viewBox="0 0 16 16">
          <path id="ec" d="M2.5 15a.5.5 0 1 1 0-1h1v-1a4.5 4.5 0 0 1 2.557-4.06c.29-.139.443-.377.443-.59v-.7c0-.213-.154-.451-.443-.59A4.5 4.5 0 0 1 3.5 3V2h-1a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-1v1a4.5 4.5 0 0 1-2.557 4.06c-.29.139-.443.377-.443.59v.7c0 .213.154.451.443.59A4.5 4.5 0 0 1 12.5 13v1h1a.5.5 0 0 1 0 1h-11zm2-13v1c0 .537.12 1.045.337 1.5h6.326c.216-.455.337-.963.337-1.5V2h-7zm3 6.35c0 .701-.478 1.236-1.011 1.492A3.5 3.5 0 0 0 4.5 13s.866-1.299 3-1.48V8.35zm1 0v3.17c2.134.181 3 1.48 3 1.48a3.5 3.5 0 0 0-1.989-3.158C8.978 9.586 8.5 9.052 8.5 8.351z"/>
        </svg>
    
      </div>
  
    <div class="box-content">
      <span class="big">{{cptC}}</span>
      Tickets en cours
    </div>
  </div></button>

</td>
<td> &nbsp;&nbsp;</td>
<td>
  
  <button class="none"  (click)="goToTicketEsc()">
<div class="info-box" id="ESC">
  <div class="box-icon">
    <svg id="Esc" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bar-chart-steps" viewBox="0 0 16 16">
      <path id="esc" d="M.5 0a.5.5 0 0 1 .5.5v15a.5.5 0 0 1-1 0V.5A.5.5 0 0 1 .5 0zM2 1.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-4a.5.5 0 0 1-.5-.5v-1zm2 4a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5v-1zm2 4a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-6a.5.5 0 0 1-.5-.5v-1zm2 4a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5v-1z"/>
    </svg>
  </div>

  <div class="box-content">
    <span class="big">{{cptE}} </span>
    Tickets à escalader
  </div>
</div></button>


</td>
<td> &nbsp;&nbsp;</td>
<td>
  
  <button class="none"  (click)="goToTicketPrise()">
<div class="info-box" id="PC">
  <div class="box-icon">
    
    <svg id="Pc" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-ticket-fill" viewBox="0 0 16 16">
      <path id="pc" d="M1.5 3A1.5 1.5 0 0 0 0 4.5V6a.5.5 0 0 0 .5.5 1.5 1.5 0 1 1 0 3 .5.5 0 0 0-.5.5v1.5A1.5 1.5 0 0 0 1.5 13h13a1.5 1.5 0 0 0 1.5-1.5V10a.5.5 0 0 0-.5-.5 1.5 1.5 0 0 1 0-3A.5.5 0 0 0 16 6V4.5A1.5 1.5 0 0 0 14.5 3h-13Z"/>
    </svg>
  </div>

  <div class="box-content">
    <span class="big">{{cptP}}</span>
    Tickets prise en charge
  </div>
</div></button>

</td>
<td> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td>
  
  <button class="none"  (click)="goToTicketApr()">
<div class="info-box"id="PB">
  <div class="box-icon">
    
      <svg id="Pb"xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-right" viewBox="0 0 16 16">
        <path id="pb" fill-rule="evenodd" d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5zm14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5z"/>
      </svg>
  
    </div>

  <div class="box-content">
    <span class="big">{{cptapr}}</span>
    Les Changements
  </div>
</div></button>

</td>
<td> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td>
  
  <button class="none"  (click)="goToTicketClo()">
<div class="info-box"id="CL">
  <div class="box-icon">
   
    <svg id="Cl"  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
      <path id="cl" d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
      <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
    </svg>
  </div>

  <div class="box-content">
    <span class="big">{{cptCl}}</span>
    Tickets cloturés
  </div>
</div></button>

</td>

<!-- <td>
  <button mat-raised-button class="p-3 mb-2 bg-warning text-dark"
  matBadge={{cptE}}  matBadgePosition="after" matBadgeColor="warn"(click)=" goToTicketEsc()">
  Tickets à escalader
  </button></td>
  <td> &nbsp;&nbsp;</td>
  <td>
    <button mat-raised-button class="p-3 mb-2 bg-secondary text-white"
    matBadge={{cptP}} matBadgePosition="after" matBadgeColor="warn"(click)="goToTicketPrise()">
    Tickets prise en charge
    </button></td>
    <td> &nbsp;&nbsp;</td>
  <td>
    <button mat-raised-button  class="p-3 mb-2 bg-primary text-white"
    matBadge={{cptapr}} matBadgePosition="after" matBadgeColor="warn"(click)="goToTicketApr()">
    Tickets pour aprobation
    </button></td>
  <td> &nbsp;&nbsp;</td>
  <td>
    <button mat-raised-button class="p-3 mb-2 bg-success text-white"
    matBadge={{cptCl}} matBadgePosition="after" matBadgeColor="warn"(click)="goToTicketClo()">
    Tickets cloturés
    </button></td> -->
</tr>

</table>

<br>