<h1 mat-dialog-title> Ajouter/Modifier  </h1>
<form [formGroup]="DetailTicket">
<table>

<tr>
    <td>
        <mat-form-field appearance="standard">
            <mat-label>Nom </mat-label>
            <input formControlName="NomDetailM" matInput placeholder="Nom">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-error *ngIf="NomDetailM.errors?.['required']">
              Obligatoire
            </mat-error>
          </mat-form-field></td>
          <td>
            <mat-form-field appearance="fill">
                <mat-label>Nature</mat-label>
                <mat-select formControlName="idMat" >
                    
                  <mat-option value=1 >Logiciel</mat-option>
                  <mat-option value=2 >Matériel</mat-option>
                  
               </mat-select>
               
              </mat-form-field></td>
     
</tr>



</table></form><br><br>
<div mat-dialog-action [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close>Fermer</button>
    <button style="margin-left: 8px;" mat-raised-button color="primary" (click)="addDetailM()"[disabled]="!DetailTicket.valid">{{actionBtn}}</button>
</div>