
 mat-sidenav-container {
    height: calc(100vh - 65px);
  }
  .example-spacer {
      flex: 1 1 auto;
    }
    table {
      width: 100%;
    }
    
    .mat-form-field {
      font-size: 14px;
      width: 100%;
    }
    
    
  #add{
      position:absolute;
      right:3%;
      float: left;
  
    }
    th{
      background-color: rgb(54, 180, 49);
      font-weight: bold;
      font-size: 14px;
     
    }
    .rech{
      font-size: 17px;
      font-weight: bold;
    }